
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    padding: 60px 20px;
    height: 100vh;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background 0.3s ease, color 0.3s ease;
}


.nav-item a:hover {
    background: white;
    color: black;
}
.scrolled {
   background-color: black;
}
#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    border-style: dashed;
    padding: 10px 0;
    z-index: 1000;
    transition: background 0.3s ease;
}
#home {
    background: #c6adad;
}


#about {
    background: #4d6c53;
}

#services {
    background: #907fb6;
}

#contact {
    background: #bbb966;
}

